*
    margin: 0
    padding: 0
    box-sizing: border-box
.display-flex
    display: flex
    flex-direction: column
section.login
    max-width: 935px
    margin: 120px auto
.container 
    display: flex
    flex-direction: row
    flex-grow: 1
    justify-content: center
    margin: 32px auto 0
    max-width: 935px
    padding-bottom: 32px
    width: 100%
.pitch
    align-self: center
    flex-basis: 450px
    height: 581.15px
    margin-bottom: 12px
    margin-right: 32px
    background: url("./source/img/pitch.png") no-repeat
    flex-shrink: 0
.form 
    color: rgb(38,38,38)
    margin-top: 12px
    flex-basis: 350px
    form
        display: flex
        flex-grow: 1
        flex-direction: column
        align-items: center
        background-color: #fff
        border: 1px solid #dbdbdb
        border-radius: 1px
        margin: 0 0 10px
        padding: 10px 0
        .logo
            margin-block: 2rem
        input 
            width: 100%
            height: 3rem
            color: #262626
            font-size: 1rem
            border: 1px solid #dbdbdb
            background-color: #fafafa
            padding 0 0.5rem
            border-radius: 3px
            margin-bottom: 4px
            &::placeholder
                padding-left: 0.5rem
                color: rgba(38, 38, 38, 0.5)
        button
            border: none
            appearance: none
            width: 100%
            height: 30px
            color: #fff
            font-weight: bold
            border-radius: 4px
            background-color: #0195f6
            margin-top: 0.75rem
            
            &:disabled
                background-color: #b2dffc

